# ==========================================================
# Python
# ==========================================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================================
# Virtual Environment
# ==========================================================

.venv/
venv/
env/
ENV/

# ==========================================================
# IDE
# ==========================================================

.vscode/
.idea/

# ==========================================================
# Jupyter Notebook
# ==========================================================

.ipynb_checkpoints/

# ==========================================================
# Operating System
# ==========================================================

.DS_Store
Thumbs.db

# ==========================================================
# Environment Variables
# ==========================================================

.env

# ==========================================================
# Python Version
# ==========================================================

.python-version

# ==========================================================
# Temporary Files
# ==========================================================

*.tmp
*.temp

# ==========================================================
# Build / Distribution
# ==========================================================

build/
dist/
*.egg-info/

# ==========================================================
# Logs
# ==========================================================

*.log

# ==========================================================
# Python Cache
# ==========================================================

.pytest_cache/
.mypy_cache/

# ==========================================================
# Streamlit
# ==========================================================

.streamlit/secrets.toml